<navbar class="navbar">
    <div class="container-fluid">
        <ul class="nav nav-tabs justify-content-evenly col-lg-10">
            <li onclick="logoClicked()">
                <a href="/"><div class="me-3 mansalva-regular text-<%=theme%> text-decoration-underline text-decoration-<%=theme%>" id="appNavn"><b>Fryserappen</b><i class="bi bi-thermometer-snow"></i></div></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-<%=theme%>" name="Fryseroversikt" href="/fryser">Oversikt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/varslinger">
                    <i class="bi bi-bell-fill text-warning"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" name="Innstillinger" aria-disabled="true" href="/settings">
                    <i class="bi bi-gear-fill text-<%=theme%>"></i>
                </a>
            </li>
        </ul> 
    </div>
</navbar>

