<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <ul>
        <li>Varslinger</li>
        <li>osv</li>
    </ul>
</body>
</html>