<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body class="m-auto pt-5">
    <%- include("./partials/navbar.ejs") %>
    <ul>
        <li>Innstillinger?</li>
        <li>Fargetema</li>
        <li>osv</li>
    </ul>
</body>
<footer>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>