<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <ul>
        <li>Varslinger</li>
        <li>osv</li>
    </ul>
</body>
<footer>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>