:root {
  --primary: #0D6EFD;
  --secondary: #6C757D;
  --success: #198754;
  --danger: #DC3545;
  --warning: #FFC107;
  --info: #0DCAF0;
  --light: #F8F9FA;
  --dark: #212529;
  
  --theme: var(--primary);
  color-scheme: var(--light) var(--dark);
}

body {
  max-width: 1000px;
  padding: 1vw;
  font: 1vw "Lucida Grande", Arial, sans-serif;
}

/* Invisible text on theme select buttons */
.themeBtn {
  color: rgba(0, 0, 0, 0);
}

#appNavn {
  font-size: 2.5rem;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

.mansalva-regular {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.addBtn {
  position: fixed;
  bottom: 5vw;
  right: 4.5vw;
}

.hide {
  display: none;
}

navbar li {
  font-weight: bold;
}
navbar li:hover {
  transform: scale(125%);
}



td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: color-mix(in srgb, var(--theme) 20%, transparent);
}

Table tr:hover {
  border: inset 3px var(--theme);
  font-size: 125%;
  transition: border 0.15s ease;
  transition: font-size 0.15s ease;
}

.top-25 {
  top: 25 !important;
}