body {
  max-width: 1000px;
  padding: 1vw;
  font: 1vw "Lucida Grande", Arial, sans-serif;
}

body 

#appNavn {
  font-size: 2rem;
}

.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}
.mansalva-regular {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.addBtn {
  position: fixed;
  bottom: 5vw;
  right: 4.5vw;
}

a {
  color: #00B7FF;
}

navbar li {
  font-weight: bold;
}

navbar li:hover {
  transform: scale(125%);
}

th {
  text-shadow: white 1vw;
}
td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: rgb(13, 110, 253, 0.1);
}

